<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPc_85FKIAyDhDGvDuUu5npgDzRvyQdik</string>
	<key>GCM_SENDER_ID</key>
	<string>450584317434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>si.aladin.aladin</string>
	<key>PROJECT_ID</key>
	<string>aladin-app-d9427</string>
	<key>STORAGE_BUCKET</key>
	<string>aladin-app-d9427.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450584317434:ios:bc3eb6dfaef06c5ee3e843</string>
</dict>
</plist>